<div role="main">
  {% if 'heroslideradmin' in g.plugins %}
    {% snippet 'home/snippets/hero_slider.html' %}
  {% else %}
    {% snippet 'home/snippets/hero_title.html' %}
    {% block opendata_theme_search %}
      {% snippet 'home/snippets/search.html' %}
    {% endblock %}
  {% endif %}


  {% block opendata_theme_groups %}
    {% if h.opendata_theme_get_groups() %}
      {% snippet 'home/snippets/groups.html' %}
    {% endif %}
  {% endblock %}


  {% block opendata_theme_showcases %}
    {% if 'showcase' in g.plugins %}
      {% if h.opendata_theme_get_showcases() %}
        {% snippet 'home/snippets/opendata_theme_showcase.html' %}
      {% endif %}
    {% endif %}
  {% endblock %}


  {% block opendata_theme_datasets %}
    {% snippet 'home/snippets/datasets.html' %}
  {% endblock %}
</div>