{% extends "page.html" %}
{% set custom_homepage_style = ( g['ckanext.opendata_theme.custom_homepage_style'] or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage layout-{{ custom_homepage_style }}">
    <div id="content" class="container">
      {{ self.flash() }}
    </div>
    {% block primary_content %}
      {% snippet "home/layout{0}.html".format(custom_homepage_style) %}
    {% endblock %}
  </div>
{% endblock %}
