{# The site to config site styles, accessibile to sysadmins#}

{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% if h.version(h.ckan_version()) < h.version('2.9') %}
    {% set custom_css_action = h.url_for(
    controller='ckanext.opendata_theme.opengov_custom_css.plugin.pylons_plugin:CSSController',
    action='custom_css') %}

    {% set reset_custom_css = h.url_for(
    controller='ckanext.opendata_theme.opengov_custom_css.plugin.pylons_plugin:CSSController',
    action='reset_custom_css') %}
{% else %}
    {% set custom_css_action = h.url_for('/ckan-admin/custom_css/') %}
    {% set reset_custom_css = h.url_for('/ckan-admin/reset_custom_css/') %}
{% endif %}


{% block primary_content_inner %}
    {{ form.errors(errors) }}
    <form method="post" action="{{ custom_css_action }}" id="custom-css-form">
        <div class="control-group control-medium">
            <div class="row">
                <div class="col-sm-6 span6 col1">
                    {% for name, field in data_part_1.items() %}
                        <div class="form-group">
                            <label class="control-label" for={{ name }}> {{ field["title"] }}</label>
                            <div class="controls">
                                <input type="text" class="opendata-theme-color-picker"
                                       name="{{ name }}" id="{{ name }}" value="{{ field["value"] }}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-sm-6 span6 col2">
                    {% for name, field in data_part_2.items() %}
                        <div class="form-group">
                            <label class="control-label" for={{ name }}> {{ field["title"] }}</label>
                            <div class="controls">
                                <input type="text" class="opendata-theme-color-picker"
                                       name="{{ name }}" id="{{ name }}" value="{{ field["value"] }}"/>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary pull-right" name="save" type="submit">{{ _('Update') }}</button>
            <a class="btn btn-danger pull-left" data-module="confirm-action"
               data-module-content="Do you really want to reset custom colors? All your changes will be lost."
               href="{{ reset_custom_css }}">{{ _('Reset to Default') }}
            </a>

        </div>
    </form>

{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="fa fa-info-circle"></i>
            {{ _('Config Options Guide') }}
        </h2>
        <div class="module-content">
            {% block admin_form_help %}
                {% trans %}
                    <p><strong>Custom CSS:</strong> Customize colors of different elements</p>
                {% endtrans %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
