{# The site to config site styles, accessibile to sysadmins#}

{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}
{% block styles %}
    {{ super() }}
    {% set snippet_type = 'asset' if h.ckan_version() > '2.9' else 'resource'  %}
    {% snippet 'snippets/opendata_custom_footer_' ~ snippet_type ~ '.html' %}
{% endblock %}

{% if h.ckan_version() < '2.9' %}
    {% set custom_footer_action = h.url_for(
      controller='ckanext.opendata_theme.opengov_custom_footer.plugin.pylons_plugin:CustomFooterController',
      action='custom_footer') %}
    {% set reset_custom_footer = h.url_for(
      controller='ckanext.opendata_theme.opengov_custom_footer.plugin.pylons_plugin:CustomFooterController',
      action='reset_custom_footer') %}
{% else %}
    {% set custom_footer_action = h.url_for('/ckan-admin/custom_footer/') %}
    {% set reset_custom_footer = h.url_for('/ckan-admin/reset_custom_footer/') %}
{% endif %}

{% block primary_content_inner %}
    {{ form.errors(data.errors) }}

    <form method="post" action="{{ custom_footer_action }}" id="custom-footer-form">
        <div class="control-group">
            <div class="controls">
                <h3 >Footer Layout</h3>
                <label class="checkbox inline">
                    <input class="form-check-input" type="radio" name="layout_type" value="1"  {% if data['layout_type']|int==1 or not data['layout_type'] %}checked {% endif %}>Default
                </label>
                <label class="checkbox inline">
                    <input class="form-check-input" type="radio" name="layout_type" value="2" {% if data['layout_type']|int==2 %}checked {% endif %}>Column 2
                </label>
                <label class="checkbox inline">
                    <input class="form-check-input" type="radio" name="layout_type" value="3" {% if data['layout_type']|int==3 %}checked {% endif %}>Column 3
                </label>
                <label class="checkbox inline">
                    <input class="form-check-input" type="radio" name="layout_type" value="4" {% if data['layout_type']|int==4 %}checked {% endif %}>Column 4
                </label>
            </div>
        </div>
        <div class="form-group ">
            {% for index in range(data['layout_type']|int) %}
                <div class="control-group inline">
                    <label for="field-content-ck-{{ index }}" class="control-label">{{ _('Content') }}</label>
                </div>
                <textarea id="field-content-ck-{{ index }}"
                          name="content-{{ index }}"
                          placeholder="{{_('My HTML content')}}"
                          data-module="ckedit"
                          style="height:200px;"
                          data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=True)) }}">{{ data['content_{}'.format(index)] }}</textarea>

            {% endfor %}

        </div>
        <div class="form-actions">
            <button class="btn btn-primary pull-right" name="save" type="submit">{{ _('Update Config') }}</button>
            <a class="btn btn-danger pull-left" data-module="confirm-action"
               data-module-content="Do you really want to reset custom footer? All your changes will be lost."
               href="{{ reset_custom_footer }}">{{ _('Reset to Default') }}
            </a>
        </div>
    </form>

{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="fa fa-info-circle"></i>
            {{ _('Config Options Guide') }}
        </h2>
        <div class="module-content">
            {% block admin_form_help %}
                {% trans %}
                    <p><strong>Custom Footer:</strong> Customize footer</p>
                {% endtrans %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
