{# The site to config site styles, accessibile to sysadmins#}

{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% set ckan_29_or_higher = h.version(h.ckan_version()) > h.version('2.9') %}
{% block styles %}
    {{ super() }}
    {% set snippet_type = 'asset' if ckan_29_or_higher else 'resource'  %}
    {% snippet 'snippets/opendata_custom_footer_' ~ snippet_type ~ '.html' %}
{% endblock %}

{% if not ckan_29_or_higher %}
    {% set custom_footer_action = h.url_for(
      controller='ckanext.opendata_theme.opengov_custom_footer.plugin.pylons_plugin:CustomFooterController',
      action='custom_footer') %}
    {% set reset_custom_footer = h.url_for(
      controller='ckanext.opendata_theme.opengov_custom_footer.plugin.pylons_plugin:CustomFooterController',
      action='reset_custom_footer') %}
{% endif %}

{% block primary_content_inner %}
    {{ form.errors(data.errors) }}

    <h1>Customize Footer</h1>
    <form class="dataset-form" method="post" action="{{ custom_footer_action }}" id="custom-footer-form">
        <div class="control-group form-group">
            <label for="footer-layout" class="control-label">{{ _('Footer Layout') }}</label>
            <div class="controls control-medium">
                <select id="footer-layout" class="form-control" name="layout_type">
                    {% for option in [(1, _('Default')), (2, '2 Columns'), (3, '3 Columns') , (4, '4 Columns')] %}
                        <option value="{{ option[0] }}" {% if option[0] == data.layout_type|int %}selected="selected"{% endif %}>{{ option[1] }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        {% for index in range(data.layout_type|int) %}
            <div class="control-group form-group">
                <label for="field-content-ck-{{ index }}" class="control-label">{{ _('Column') }} {{index + 1}}</label>
                <textarea id="field-content-ck-{{ index }}"
                          class="control-medium"
                          name="content_{{ index }}"
                          placeholder="{{_('My HTML content')}}"
                          data-module="ckedit"
                          style="height:200px;"
                          data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=True)) }}">{{ data['content_{}'.format(index)] }}</textarea>
            </div>
        {% endfor %}
        <div class="form-actions">
            <a class="btn btn-danger pull-left" data-module="confirm-action"
               data-module-content="Do you really want to reset custom footer? All your changes will be lost."
               href="{{ reset_custom_footer }}">{{ _('Reset to Default') }}
            </a>
            <button class="btn btn-primary pull-right" name="save" type="submit">{{ _('Update') }}</button>
        </div>
    </form>

{% endblock %}

{% block secondary_content %}
    <div class="module module-narrow module-shallow">
        <h2 class="module-heading">
            <i class="fa fa-info-circle"></i>
            {{ _('Config Options Guide') }}
        </h2>
        <div class="module-content">
            {% block admin_form_help %}
                {% trans %}
                    <p><strong>Custom Footer:</strong> Customize footer</p>
                {% endtrans %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if ckan_29_or_higher %}
    <script src="/vendor/ckeditor/ckeditor.js"></script>
  {% endif %}
{% endblock %}