
{% ckan_extends %}

{% block header %}
    {% if layout_type=='compressed' %}
        {% include "compressed_header.html" %}
    {% else %}
        {% include "header.html" %}
    {% endif %}
{% endblock %}
{% block primary %}
  <div class="primary span9 main-responsive-panel">
     {% block primary_content %}
         {{ super() }}
     {% endblock %}
   </div>
{% endblock %}
{% block secondary %}
  <aside class="secondary span3 aside-fixed-panel">
    {% block secondary_content %}
    {% endblock %}
  </aside>
{% endblock %}
