{% extends "admin/base.html" %}

{% import 'macros/form.html' as form %}

{% if h.version(h.ckan_version()) < h.version('2.9') %}
    {% set custom_home_page_action = h.url_for(
    controller='ckanext.opendata_theme.opengov_custom_homepage.plugin.pylons_plugin:CSSController',
    action='custom_home_page') %}

    {% set reset_custom_naming = h.url_for(
    controller='ckanext.opendata_theme.opengov_custom_homepage.plugin.pylons_plugin:CSSController',
    action='reset_custom_naming') %}
{% else %}
    {% set custom_home_page_action = h.url_for('/ckan-admin/custom_home_page/') %}
    {% set reset_custom_naming = h.url_for('/ckan-admin/reset_custom_naming/') %}
{% endif %}


{% block primary_content_inner %}
    {{ form.errors(error_summary) }}
    <form method='post' id='custom-homepage-layout-form' action={{ custom_home_page_action }}
            enctype="multipart/form-data">
        <div class="control-group form-group control-medium">
            {% block homepage_template_select %}
                {{ form.select('custom_homepage_layout',
                    id='field-custom-homepage-layout',
                    label=_('Homepage Layout'),
                    options=home_page_layouts_list,
                    selected=actual_layout,
                    error=error) }}
            {% endblock %}
            {% for name, field in custom_naming.items() %}
                <div class="form-group form-group">
                    <label class="control-label" for={{ name }}> {{ field["title"] }}</label><br>
                    <input class="control" type="text" name="{{ name }}" id="{{ name }}" value="{{ field["value"] }}"/>
                </div>
            {% endfor %}
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="save">{{ _('Update Config') }}</button>
            <a class="btn btn-danger pull-left" data-module="confirm-action"
               data-module-content="Do you really want to reset custom names? All your changes will be lost."
               href="{{ reset_custom_css }}">{{ _('Reset to Default') }}
            </a>
        </div>
    </form>
{% endblock %}
